[brett]
	batie = brett.batie@smartsheet.com
[user]
	name = Brett Batie\n
	email = brett.batie@smartsheet.com
[color]
	ui = auto
[color "branch"]
	current = yellow reverse
	local = yellow
	remote = green
[color "diff"]
	meta = yellow bold
	frag = magenta bold
	old = red bold
	new = green bold
[color "status"]
	added = yellow
	changed = green
	untracked = cyan
[core]
	excludesfile = /home/brett/.gitignore_global
    autocrlf = false
    safecrlf = false
[giggle]
	main-window-maximized = true
	main-window-geometry = 1920x1027+1920+0
	show-graph = true
	file-view-vpane-position = 518
	file-view-hpane-position = 533
	history-view-vpane-position = 871
	main-window-view = FileView
[gui]
	editor = subl
	recentrepo = /home/brett/git/salesforce/release-1.7
[diff]
	tool = diffuse
#[difftool "diffuse"]
#    cmd ="/usr/bin/diffuse -m"
[merge]
    tool = diffuse 
#[mergetool "diffuse"]
#    cmd = "/usr/bin/diffuse -m"
[difftool]
	prompt = false
[push]
	default = upstream
[fetch]
	prune = true
[alias]
    upstream = !git branch --set-upstream-to=origin/`git symbolic-ref --short HEAD`
    out = log --pretty=oneline --abbrev-commit --graph @{u}..
    in = !git fetch && git log --pretty=oneline --abbrev-commit --graph ..@{u}
[cola]
	spellcheck = true
