[brett]
	batie = brett@batie.com
[user]
	name = Brett Batie
	email = brett@batie.com
[color]
	ui = auto
[color "branch"]
	current = yellow reverse
	local = yellow
	remote = green
[color "diff"]
	meta = yellow bold
	frag = magenta bold
	old = red bold
	new = green bold
[color "status"]
	added = yellow
	changed = green
	untracked = cyan
[core]
	excludesfile = /home/brett/.gitignore_global
[giggle]
	main-window-maximized = true
	main-window-geometry = 1920x1027+1920+0
	show-graph = true
	file-view-vpane-position = 518
	file-view-hpane-position = 533
	history-view-vpane-position = 871
	main-window-view = FileView
[gui]
	editor = subl
