xscreensaver.splash: false

!font settings
#xscreensaver.Dialog.headingFont:        -*-helvetica-bold-r-*-*-17-*-*-*-*-*-*-*
#xscreensaver.Dialog.bodyFont:           -*-helvetica-medium-r-*-*-17-*-*-*-*-*-*-*
#xscreensaver.Dialog.labelFont:          -*-helvetica-medium-r-*-*-17-*-*-*-*-*-*-*
#xscreensaver.Dialog.unameFont:          -*-helvetica-medium-r-*-*-17-*-*-*-*-*-*-*
#xscreensaver.Dialog.buttonFont:         -*-helvetica-bold-r-*-*-17-*-*-*-*-*-*-*
#xscreensaver.Dialog.dateFont:           -*-helvetica-medium-r-*-*-17-*-*-*-*-*-*-*
#xscreensaver.passwd.passwdFont:         -*-terminus-*-r-*-*-14-*-*-*-*-*-*-*

!general dialog box (affects main hostname, username, password text)
xscreensaver.Dialog.foreground:         #ffffff
xscreensaver.Dialog.background:         #000000
xscreensaver.Dialog.topShadowColor:     #000000
xscreensaver.Dialog.bottomShadowColor:  #000000
xscreensaver.Dialog.Button.foreground:  #666666
xscreensaver.Dialog.Button.background:  #ffffff

!username/password input box and date text colour
xscreensaver.Dialog.text.foreground:    #666666
xscreensaver.Dialog.text.background:    #ffffff
xscreensaver.Dialog.internalBorderWidth:60
xscreensaver.Dialog.borderWidth:        0
xscreensaver.Dialog.shadowThickness:    2

!timeout bar (background is actually determined by Dialog.text.background)
xscreensaver.passwd.thermometer.foreground:  #ff0000
xscreensaver.passwd.thermometer.background:  #000000
xscreensaver.passwd.thermometer.width:       8

!datestamp format--see the strftime(3) manual page for details
xscreensaver.dateFormat:    %H:%M %a %b %d, %Y
